<!DOCTYPE html>
<html>
  <head>
    <title>TV SATURNO - TIJUANA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TV-Saturno</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Inicio", root_path, class: 'nav-link' %>
        </li>
<!--        <li class="nav-item">-->
          <%#= link_to "Servicios",  principal_services_path, class: 'nav-link' %>
<!--        </li>-->
        <li class="nav-item">
          <%= link_to "Contacto",  principal_contact_path, class: 'nav-link' %>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <div class="container" id="container">
      <%= yield %>
    </div>

  <footer id="myFooter">
    <div class="container">
<!--      <div class="row">-->
<!--        <div class="col-sm-3">-->
<!--          <h2 class="logo"><a href="#"> LOGO </a></h2>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--          <h5>Get started</h5>-->
<!--          <ul>-->
<!--            <li><a href="#">Home</a></li>-->
<!--            <li><a href="#">Sign up</a></li>-->
<!--            <li><a href="#">Downloads</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--          <h5>About us</h5>-->
<!--          <ul>-->
<!--            <li><a href="#">Company Information</a></li>-->
<!--            <li><a href="#">Contact us</a></li>-->
<!--            <li><a href="#">Reviews</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-sm-2">-->
<!--          <h5>Support</h5>-->
<!--          <ul>-->
<!--            <li><a href="#">FAQ</a></li>-->
<!--            <li><a href="#">Help desk</a></li>-->
<!--            <li><a href="#">Forums</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--          <div class="social-networks">-->
<!--            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
<!--            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
<!--            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-default">Contact us</button>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="footer-copyright">
      <p>© 2018 Copyright Tv-Saturno </p>
    </div>
  </footer>


  </body>
</html>
